<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Herbs Show</title>
</head>

<body>
    <h1>HiSC</h1>
        <p>
       Herb: <%= herbs.name %>  
        </p>

        <a href="/herbs">Back to Index</a>

</body>

</html>